.uname-border{
    border-bottom: 1px solid #ededed;
}
.name-title{
    font-size: 72px;
    color: hsl(0,0%,30%);
    font-family: GOTHAM-BOLD;
}
.name-footer{
    color: #4d4d4d;
    font: 22px Arial,"微软雅黑";
}
.jieshao{
    font: 16px Arial,"微软雅黑";
}