.video-title{
    width: 50%;
    margin: 120px auto;
    color: #4D4D4D;
    font:16px Arial,"微软雅黑";
}
.video-title>p:first-child{
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
}
.video-title p{
    margin: 0;
}
.video-rel{
    width: 100%;
    position: relative;
}
.video-abs{
    width: 100%;
    height: 99%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}
.video-abs>img{
    position: relative;
    top: 50%;
    left: 0;
}
.video-rel:hover .video-abs{
    opacity: 1;
}
.img-border{
    width: 75%;
    margin: 0 auto; 
    border-bottom: 1px solid #EDEDED;
}
.video-title-text{
    width: 50%;
    margin: 120px auto;
    color: #4D4D4D;
    font:16px Arial,"微软雅黑";
}
.ul-display{
    display: flex;
    justify-content: space-between;
}
.title{
    color: #4D4D4D;
    font:20px Arial,"微软雅黑";
}
.title-a{
    color: #999999;
    font:13px Arial,"微软雅黑";  
}
.img-max1{
    max-width: 541px;
}
.img-max2{
    max-width: 544px;
}
.img-max{
    max-width: 1200px; 
}